// * General Helper Classes

.centered {
  text-align: center;
}

.bold {
  font-weight: 700;
}

th.align--left {
  text-align: left;
}

.white {
  color: $white;
}

.black--bg {
  background-color: $black;
}

.border-r--white {
  border-right: 1px solid $white;
}

/* * Social Media Helper Classes */

.social-icon {
  padding: 0 10px;
}